.container {
  background-color: #ffffff3b;
}

.header {
  margin: 0 auto;
  max-width: 1650px;
  background-color: initial;
  padding: 5px 100px;
}
@media (max-width: 600px) {
  .header {
    padding: 5px 50px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 5px 20px;
  }
  .btn {
    font-size: 10px;
    width: 68px;
    padding: 0;
  }
}
@media (max-width: 400px) {
  .header {
    padding: 5px 5px;
  }
}
