@font-face {
    font-family: Fulbo-Argenta; /* Имя шрифта */
    src: url('/src/assets/fonts/Fulbo-Argenta.otf'); /* Путь к файлу со шрифтом */
}


.modal__window {
    font-family: Fulbo-Argenta;
    text-align: center;
    text-transform: uppercase;

}


.modal__container {
    font-size: 10px;

}

.img__container {
    display: flex;
    justify-content: space-evenly;

}

.img {
    padding: 4px;
}

.button__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text {
    display: flex;
}

.list {
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px;
    padding-top: 47px;
}

.item {
    font-size: 12px;
    text-align: left;
    color: #1890ff;
}

.description__container {
    padding-left: 5px;
    text-align: left;
}

.description__header {
    font-size: 16px;
    text-align: center;
    color: #1890ff;
    margin: 0;
}

.item__description {
    font-size: 12px;
    text-transform: none;
}

.description {
    list-style: none;
    padding: 5px;
}
