.wrapper {
  color: #eceff1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  margin: auto;
}

.block_with_information {
  margin-top: 40px;
  background-color: #ffffff3b;
  padding: 10px 20px;
  width: 600px;
  border: solid #1890ff 1px;
}

.block_with_information__wide {
  margin: 40px 0;
  background-color: #ffffff3b;
  padding: 20px;
  width: 900px;
  border: solid #1890ff 1px;
}

.heading {
  color: white;
  font-size: 26px;
}

.item {
  text-align: left;
  font-size: 16px;
  font-family: Quicksand-SemiBold;
  text-transform: none;
}
.item a {
  color: #64b5f6;
}
.skills {
  width: 50%;
  display: inline-block;
}
@media (max-width: 900px) {
  .wrapper {
    justify-content: center;
  }
  .block_with_information__wide {
    width: 680px;
  }
}
@media (max-width: 700px) {
  .block_with_information,
  .block_with_information__wide {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .block_with_information,
  .block_with_information__wide {
    width: 300px;
  }
}
