@import '~antd/dist/antd.css';

@font-face {
  font-family: Fulbo-Argenta;
  src: url('/src/assets/fonts/Fulbo-Argenta.otf');
}

.App {
  text-align: center;
  background-color: #212121;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Fulbo-Argenta;
}
