@import '~antd/dist/antd.css';

@font-face {
    font-family: RetroVille; /* Имя шрифта */
    src: url('/src/assets/fonts/RetroVilleNC.ttf'); /* Путь к файлу со шрифтом */
}

.App {
    text-align: center;
    background-image: linear-gradient(rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%), url('/src/assets/images/bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: RetroVille;
}


